In [1]:
import os
import pandas as pd

In [2]:
df=pd.read_csv("../data_given/winequality.csv")

In [3]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'TARGET'],
      dtype='object')

In [4]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [5]:
overview=df.describe()

In [7]:
overview.loc[["min","max"]]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
min,4.6,0.12,0.0,0.9,0.012,1.0,6.0,0.99007,2.74,0.33,8.4,3.0
max,15.9,1.58,1.0,15.5,0.611,72.0,289.0,1.00369,4.01,2.00,14.9,8.0

In [8]:
overview.loc[["min","max"]].to_dict()

{'fixed acidity': {'min': 4.6, 'max': 15.9},
 'volatile acidity': {'min': 0.12, 'max': 1.58},
 'citric acid': {'min': 0.0, 'max': 1.0},
 'residual sugar': {'min': 0.9, 'max': 15.5},
 'chlorides': {'min': 0.012, 'max': 0.611},
 'free sulfur dioxide': {'min': 1.0, 'max': 72.0},
 'total sulfur dioxide': {'min': 6.0, 'max': 289.0},
 'density': {'min': 0.99007, 'max': 1.00369},
 'pH': {'min': 2.74, 'max': 4.01},
 'sulphates': {'min': 0.33, 'max': 2.0},
 'alcohol': {'min': 8.4, 'max': 14.9},
 'TARGET': {'min': 3.0, 'max': 8.0}}

In [9]:
overview.loc[["min","max"]].to_json("schema_in.json")

In [10]:
class NotInRange(Exception):
    def __init__(self,message="value not in range"):
     #   self.input_=input_
        self.message=message
        super().__init__(self.message)

In [11]:
raise NotInRange

NotInRange: value not in range